@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --BandColor: #FF7420;
  --primaryColor:#191A19;
  --whiteColor:#ffffff;
  --poppins:"Poppins", sans-serif;
  --Comforter: "Comforter Brush", cursive;

}

@theme {
  --color-BandColor: var(--BandColor) ;
  --color-primaryColor: var(--primaryColor) ;
  --color-whiteColor: var(--whiteColor) ;
  --font-poppins: var(--poppins);
  --font-Comforter: var(--Comforter)
}
.navitems{
 
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.navitems:hover{
  color: var(--BandColor);
}
.navitems::after{
  content: '';
  position: absolute;
  bottom: 0;
  left:100%;
  width: 0;
  height: 2px;
  background: var(--BandColor);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.navitems:hover::after{
  width: 100%;
  left: 0;
}
.botton::after{
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--BandColor);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.botton:hover::after{
  right: 0;
}
.active_content{
  display: block;
}
.active_tab{
  font-size: 20px;
  font-weight: 600;
  font-family: var(--poppins);
  color:var(--primaryColor);
  position: relative;
}
.active_tab::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primaryColor);
}
.project::after{
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  width: 96%;
  height: 97%;
  background: linear-gradient(#00000000,#191a197c);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  z-index: -1;
}
.clientactive{
  display: none;
}
 .slick-current .clientactive{
  display: flex;
}
.slick-current .clientactiveImg{
position: relative;
}
.slick-current .clientactiveImg::after{
  position: absolute;
  content: '';
  top: -15px;
  left: -15px;
  width: 150px;
  height: 150px;
  border: 5px solid #FF7420;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.slick-prev, .slick-next {
  top: 75% !important;
  right: 100px !important;
}